.list-screen-container {
  display: flex;
  flex: 1;
  width: 100vw;
  height: 100vh;
  background-color: #7785db;
  align-items: center;
  justify-content: center;
}

.list-screen-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60vw;
  height: 85vh;
  background-color: white;
  border-radius: 24px;
  padding: 24px;
  overflow: hidden;
}

.list-screen-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list-screen-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-screen-header-title {
  font-size: 32px;
  margin-left: 12px;
}

.list-screen-header-button-container {
  width: 160px;
}

.logo-image {
  height: 72px;
  width: 72px;
}

.list-screen-list-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 830px) {
  .list-screen-header-title {
    font-size: 24px;
  }
}

@media screen and (max-width: 420px) {
  .list-screen-header-title {
    font-size: 14px;
    line-height: 12px;
  }

  .list-screen-header-button-container {
    width: 42px;
  }

  .logo-image {
    width: 36px;
    height: auto;
  }

  .list-screen-content-container {
    width: 74vw;
  }
}
